
body{
    margin: 0 10%;
}

.colors {
    border: 1px solid black;
    padding: 10px;
    margin: 10px auto;
}

.colors div{
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    margin: 20px auto;
    width: 32%;
    min-height: 100px;
}


#color1{
    background-color: #2ad7eb;
}
#color2{
    background-color: #58ab20;
}
#color3{
    background-color: #f4f5ce;
}
#color4{
    background-color: #f576db;
}
